<h3>Work Experience</h3>

<div *ngFor="let job of workExperience" class="job-container">
  <div class="job-left">
    <div class="date">
      {{ job.startDate }} - {{ job.endDate }}
    </div>
  </div>

  <div class="job-right">
    <div class="job-location">{{ job.location }}</div>

    <div class="job-position">
      <b>{{ job.position }}</b>
    </div>
    <div class="job-company">
      {{ job.company }}
    </div>
    <div class="job-label">
      Accomplishments
    </div>
    <div class="job-accomplishments">
      {{ job.accomplishments }}
    </div>
  </div>
</div>
